.textBoxBorder{
    border: 1px solid #aca3a3;
    padding: 2px;
    margin: 2px;
}

.column-container {
    display: flex;
    flex-direction: column;
  }

  /* Add this CSS in your stylesheet */
.hidden-input {
  display: none !important; /* Hide the input element */
}


  .Add{
    display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 30px;
      flex-direction: column;
  }
  .formStyle{
    padding: 20px;
    border: 1px solid black;
    width: 25%;
    text-align: center;
  }

  .descrip{
    height: 150px;
  }
  
  .form-control{
    border-color: black !important;
  }

  .vertical-gap {
    height: 20px; /* Adjust the height as needed */
  }
  
  